#git copy this file to .env and add your own API key
API_KEY = "<YOUR_API_KEY_HERE>"
DATABASE_URL = "<YOUR_DATABASE_URL_HERE>"
AIRFLOW_IMAGE_NAME="<YOUR_AIRFLOW_IMAGE_NAME_HERE>"
AIRFLOW_UID="<YOUR_AIRFLOW_UID_HERE>"