#git copy this file to .env and add your own API key
API_KEY = "<YOUR_API_KEY_HERE>"
DATABASE_URL_LOCAL = "<YOUR_DATABASE_URL_LOCAL_HERE>"
AIRFLOW_IMAGE_NAME="<YOUR_AIRFLOW_IMAGE_NAME_HERE>"
AIRFLOW_UID="<YOUR_AIRFLOW_UID_HERE>"
AIRFLOW_IMAGE_NAME="<YOUR_AIRFLOW_IMAGE_NAME_HERE>"
DB_NAME="<YOUR_DB_NAME_HERE>"
DB_USER="<YOUR_DB_USER_HERE>"
DB_PASSWORD="<YOUR_DB_PASSWORD_HERE>"
DATABASE_URL="<YOUR_DATABASE_URL_HERE>"